@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

/* FORM STYLES */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}

.title-container {
    position: relative;
    background-color: #38743c;
    /* Set background color for the title container */
    padding: 20px;
    /* Add some padding for spacing */
    text-align: center;
    /* Center align the title */
}

.logo {
    position: absolute;
    top: 50%; /* Vertically center the logo */
    transform: translateY(-50%); /* Correctly center the logo vertically */
    height: auto; /* Maintain aspect ratio */
    width: 300px;
}

.left-logo {
    left: 10px; /* Adjust the left position as needed */
}

.right-logo {
    right: 10px; /* Adjust the right position as needed */
}



.title {
    font-size: 70px;
    margin: 0;
    /* Remove default margin */
}

body {
    background-color: white;
    /* Set background color for the whole page */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    font-family: 'Jaldi', sans-serif;
    
}

.background-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/bgg.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    filter: blur(8px);
    z-index: -1; /* Move the background behind other content */
}

.question-page {
    display: none;

    /* Center align the content */
}

.question-page.active {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 100%;

}

.question-page.active h2 {
    font-size: 50px;
}



.check_align {
    display: flex;
    align-items: center;
}

.answers {
    display: flex;
    justify-content: center;
    /* Center the items horizontally */
    /* Align items at the start of the flex container */
    flex-direction: column;

}

.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;

}



.checkbox:hover .checkbox_check {
    background: #54860026;
}

.checkbox_input {
    width: 0;
    height: 0;
    opacity: 0;
    transform: scale(0.3);

    /* Set a fixed width for the checkbox */
}

.checkbox_input:checked+.checkbox_check {
    background: #38743c;
    stroke-dashoffset: 0;
}

.checkbox_check {
    border: 1.06rem solid #000000;
    background: transparent;
    stroke: #f9f9f9;
    stroke-dasharray: 131;
    stroke-dashoffset: -130;
    stroke-linecap: round;
    stroke-width: 1.06rem;
    fill: none;
    border-radius: 1.06rem;
    transition: background .4s, stroke-dashoffset 1s;
    transform: scale(.3);
}

.label-text {
    font-size: 60px;
}

.answers label .checkbox_input {
    margin-right: 10px;
    /* Add some spacing between checkbox and label */
}



.bike-grid {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns with equal width */
    gap: 20px;
    /* Gap between grid items */
}


/* BIKE GRID STYLES */

.bike-item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center align items horizontally */
}

.bike-item img {
    max-width: 100%;
    height: 200px;
    /* Set a fixed height for all images */
    object-fit: cover;
    /* Maintain aspect ratio */
}

.bike-item h3,
.bike-item p {
    margin: 10px 0;
    /* Add spacing between elements */
}

.bike-item p {
    font-size: 25px;
}

.bike-item a {
    text-decoration: none;
    /* Remove underline */
    color: inherit;
    /* Inherit text color from parent */
}

.results-header {
    text-align: center;
    font-size: 40px;
}

button {

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 180px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #38743c;
    height: 48px;
    margin-bottom: 25px;



}

button:hover {
    background-color: #1db954;
}